---
import Layout from "../layouts/Layout.astro";
import Stadistic from "../components/Stadistic.astro";
import Bento from "../components/Bento.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Inicio">
  <>
    <section class="mt-24">
      <button
        class="border absolute z-10 md:bottom-40 md:left-52 lg:bottom-44 lg:left-52 border-red-900 bg-red-700 px-10 py-5 text-xl text-white rounded hover:bg-red-600 hover:scale-110 transition-all duration-300 ease-in-out"
        >Crear tu cuenta ciudad rapido</button
      >
      <img
        class="roudend w-full my-4"
        src="/bannerWebMetro.png"
        alt="banner metro de quito"
        srcset=""
      />
    </section>
    <section class="text-center w-full my-8 lg:w-[1120px] mx-auto">
      <h1 class="text-5xl text-balance font-bold text-blue-900">
        ¡El Metro de Quito ya es una realidad! Ven y viaja con nosotros.
      </h1>
    </section>
    <Stadistic />
		<Bento/>
		<Footer/>
  </main>
</Layout>
