<header
  class="border-b-4 border-b-red-700 bg-white fixed flex justify-between items-center h-[112px] w-full px-4 md:px-44 z-20" 
>
  <a href="/">
    <img src="/logo.png" class="w-48 rounded" alt="" srcset="" />
  </a>
  <nav>
    <ul class="flex flex-row gap-x-8 text-blue-900 font-semibold">
      <li
        class="hover:text-red-600 cursor-pointer border-b-white border-b-2 hover:border-b-red-600"
      >
        Nosotros
      </li>
      <li
        class="hover:text-red-600 cursor-pointer border-b-white border-b-2 hover:border-b-red-600"
      >
        Metro Noticias
      </li>
      <li
        class="hover:text-red-600 cursor-pointer border-b-white border-b-2 hover:border-b-red-600"
      >
        MetroContigo
      </li>
      <li
        class="hover:text-red-600 cursor-pointer border-b-white border-b-2 hover:border-b-red-600"
      >
        Quito se Mueve
      </li>
      <li
        class="hover:text-red-600 cursor-pointer border-b-white border-b-2 hover:border-b-red-600"
      >
        Contacto
      </li>
      <li>🔍</li>
    </ul>
  </nav>
</header>
