---
import StadisticItem from "./StadisticItem.astro";
import ClockIcon from "./icons/ClockIcon.astro";
import TrainIcon from "./icons/TrainIcon.astro";
import WreckingIcon from "./icons/WreckingIcon.astro";
import StationIcon from "./icons/StationIcon.astro";
---

<section class="w-full text-center bg-blue-900 text-white py-20 px-32 my-4">
  <h2 class="text-4xl mb-2 font-semibold">Nuestros Hitos</h2>
  <p class="text-xl text-pretty opacity-90">
    Este es el aporte del Metro para nuestra ciudad. Los pasajeros van seguros a
    todos los destinos.
  </p>
  <div class="flex flex-row gap-x-8 w-full my-12">
    <StadisticItem stadisticNumber="1230" prefix="+" description="Usuarios por tren">
      <TrainIcon slot="icon" class="size-4/12" />
    </StadisticItem>
    <StadisticItem stadisticNumber="34" prefix="'" description="Tiempo de Recorrido">
      <ClockIcon slot="icon" class="size-4/12" />
    </StadisticItem>
    <StadisticItem stadisticNumber="100" prefix="%" description="Avance general de obra">
      <WreckingIcon slot="icon" class="size-4/12" />
    </StadisticItem>
    <StadisticItem stadisticNumber="15" prefix="" description="Estaciones">
      <StationIcon slot="icon" class="size-4/12" />
    </StadisticItem>
  </div>
  <div class="flex justify-center w-full">
    <button class="py-2 text-xl px-6 bg-red-600 rounded hover:bg-red-700">
      Conoce Mas 
    </button>
  </div>
</section>
